<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @art.title %>
</p>

<p>
  <b>Description:</b>
  <%= @art.description %>
</p>


<%= link_to 'Edit', edit_art_path(@art) %> |
<%= link_to 'Back', arts_path %>
